<plugin name='crypto' version='2.0' grailsVersion='1.1 &gt; *'>
  <author>Ricardo J. Mendez and Robert Fischer</author>
  <authorEmail>ricardo@arquetipos.co.cr</authorEmail>
  <title>Encryption plugin for Grails</title>
  <description>Masks encryption and decryption functions, currently integrated with Bouncy
Castle. This version provides classes for PGP and Blowfish, as well as a
tool for both generating random passwords and salting / verifying salted
passwords.
</description>
  <resources>
    <resource>UrlMappings</resource>
    <resource>EncryptedData</resource>
    <resource>SimplePasswordManagerService</resource>
    <resource>HexCodec</resource>
  </resources>
  <dependencies />
</plugin>